* {
    margin: 0;
    padding: 0;
}

/*in*/
.iconfont{
	font-size: .35rem;
	vertical-align: middle;
	color: #ff6300;
	font-weight: bold;
}
.top{
	background-color: #fff;
    padding: .2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px #eee solid;
	position: relative;
}

.top img{ height: 1rem;  border-radius: 50%; }
.top .item{ padding-left: .6rem; }
.top .item .lable{ font-size: .3rem;color: #333; padding-bottom: .1rem;}
.top .item .num{font-size: .28rem;color: #8c8c8c;}
.cont .item{
    padding: .4rem .3rem 0;
    background-color: #fff;
    margin-top: .1rem;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
}
.cont .item .lable{
	color: #b1b1b1;
    font-size: .3rem;
}
.cont .item .enter{
	display: flex;
    align-items: center;
    border-bottom: 1px #eee solid;
    padding: .3rem 0;
    position: relative;
}
.cont .item .enter .iconfont{
	font-size: .35rem;
    position: absolute;
    padding-top: .2rem;
    left: 0;
}
.cont .item .enter input{
	font-size: .35rem;
    display: inline-block;
    padding-left: .7rem;
	width: 100%;
}
.cont .item .text{
	padding: .26rem 0;
    font-size: .3rem;
    color: #505050;
}
.cont .item .text span{
	padding-left: .2rem;
    color: #ff6300;
}
.cont .sbtn{
	padding: .8rem .6rem;
}
.cont .sbtn button{
	width: 100%;
    display: block;
    padding: .32rem 0;
    font-size: .35rem;
    border: 0;
    background-color: #ff6300;
    color: #fff;
    border-radius: .15rem;
}
/*in end*/

.lradio {
    margin-right: .1rem;
    margin-top: .2rem;
    height: .7rem;
    line-height: 1rem;
    min-width: 2rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    user-select: none;
    /* padding: 0px .2rem; */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
    border-image: initial;
    border-radius: 2rem;
    transition: all 0.1s linear 0s;
}

.lradio.on { 
	background-color: rgb(255, 99, 0);  
	border-color: rgb(255, 99, 0); 
}
.lradio b {
    position: relative;
    top: -10px;
    margin-left: .7rem;
    margin-right: .2rem;
    font-size: .32rem;
    font-weight: normal;
    text-align: center !important;
    color: rgb(153, 153, 153) !important;
    font-style: normal !important;
    padding: 0px !important;
}
.lradio.on b {
    margin-left: .2rem;
    margin-right: 1rem;
    color: rgb(255, 255, 255) !important;
}
.lradio i {
    position: absolute;
    left: .2rem;
    top: .1rem;
	width: .4rem;
    height: .4rem;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    transition: all 0.1s linear 0s;
}
.lradio.on i {
    left: 100%;
    margin-left: -.7rem;
    background-color: rgb(255, 255, 255);
}
