@charset "utf-8";

.xdkbg{background:#f5f5f5; padding:28px 0px; font-size:16px;}

/*newer*/
.newerad{height:234px; background:url(/jsonpublic/images/img/xsyd.jpg) scroll 50% 0px no-repeat #83ae27;}
.n_mod{width:953px; margin:28px auto 0px auto;}
.nmbg01,.nmbg02,.nmbg03,.nmbg04{background:url(/jsonpublic/images/img/newbg.jpg) repeat-y;}
.nmbg01{background-position:0px 0px; margin:0px auto 0px auto;}
.nmbg02{background-position:-953px 0px;}
.nmbg03{background-position:-1906px 0px;}
.nmbg04{background-position:-2859px 0px;}
.n_mod h1{height:65px; width:953px; line-height:300px; overflow:hidden;}
.nbom01,.nbom02,.nbom03,.nbom04{height:24px; width:953px;}
.n_mod h1.tit01,.nbom01{background:url(/jsonpublic/images/img/ntit_01.jpg) no-repeat;}
.nbom01{background-position:0px -64px;}
.n_mod h1.tit02,.nbom02{background:url(/jsonpublic/images/img/ntit_02.jpg) no-repeat;}
.nbom02{background-position:0px -64px;}
.nbtt{height:30px; line-height:30px; float:left; width:850px;}
.nbtt span{font-size:22px; color:#000;}
.nbtx{line-height:24px; float:left; width:850px;}
.nbtable{ background:#ddd; float:left; margin-top:15px; width:95%;}
.nbtable tr td{background:#fff; line-height:30px; padding:0px 5px; font-size:14px;}
.nbtable tr.bg01 td,.nbtable tr td.bg01{background:#f5f5f5;}
.nbtable tr.bg02 td{background:#64bbcf; color:#fff; font-size:18px;}
.n_mod h1.tit03,.nbom03{background:url(/jsonpublic/images/img/ntit_03.jpg) no-repeat;}
.nbom03{background-position:0px -64px;}
.newtxt01{ padding:10px 20px 20px 50px; height:550px;}
.newtxt04{ padding:10px 20px 20px 50px; height:360px;}
.newtxt01 h3{color:#699211; font-size:20px; line-height:26px; font-weight:normal;}
.newtxt01 p{line-height:26px; padding:10px 0px;}
.newtxt02{ height:755px; padding:30px 20px 30px 50px;}
.newtxt02 h3{color:#55afc4; font-size:18px; line-height:24px; font-weight:normal;}
.newtxt02 h3.cobl{color:#000; padding-bottom:10px;}
.newtxt02 p{line-height:26px; padding:5px 0px 0px 0px;}
.newtxt02 .txt{float:left; width:315px; padding-top:20px; font-size:16px;}
.newtxt02 .img{float:right; width:523px; height:322px; padding-top:40px;}
.newtxt03{height:240px; padding:5px 20px 15px 50px;}
.newtxt03 h3{color:#d76500; font-size:20px; line-height:26px; font-weight:normal;}
.newtxt03 p{line-height:24px; padding:0px 0px; font-size:16px;}
.newtxt03 a{width:198px; height:43px; background:url(/jsonpublic/images/xdk/p2p_d_01.gif) no-repeat; background-position:left -111px; display:block;}
.newtxt03 a:hover{background-position:left -155px;}
.newtxt03 .txt{float:left; width:220px; padding-top:20px;}
.newtxt03 .img{float:right; width:550px; height:228px;}
.n_mod h1.tit04,.nbom04{background:url(/jsonpublic/images/img/ntit_04.jpg) no-repeat;}
.nbom04{background-position:0px -64px;}

/*aqbz*/
.aqbzad{height:234px; background:url(/jsonpublic/source/images/web/img/aqbznew.jpg) scroll 50% 0px no-repeat #86d0b5;}
.a_mod{width:954px; margin:15px auto 0px auto; line-height:28px;}
.am01{margin-top:0px;}
.am01 div.tit,.am02 div.tit,.am03 div.tit,.am04 div.tit,.am05 div.tit{width:954px; height:55px; overflow:hidden; line-height:200px;}
.am01 div.tit{height:62px;}
.ammid{ padding:10px 50px 30px 50px; background:url(/jsonpublic/images/xdk/yy.jpg) 0px 0px no-repeat;}
.ammid h3{font-size:16px; font-weight:normal; margin-top:15px; color:#000;}
.ammid p{padding:5px 0px; font-size:14px; color:#555; line-height:24px;}
.am01 h3{color:#3580ad;}
.am02 h3{color:#5a7f44;}
.am03 h3{color:#b3770b;}
.am04 h3{color:#bf6464;}
.am05 h3{color:#8481bc;}

.aqb{width:1000px; margin:0px auto;}
.aqblf,.aqbrt{width:468px; position:relative; margin-bottom:20px; height:295px; border:1px #ddd solid; background:#fff; padding-left:20px; padding-top:25px;}
.aqa{width:488px; height:340px; position:absolute; left:0px; top:0px; display:block; cursor:pointer;}
.aqblf{float:left;}
.aqbrt{float:right;}
.bx{border-top:4px #ffb900 solid;}
.xm{border-top:4px #88b8ff solid;}
.zh{border-top:4px #f27244 solid;}
.aqb .btit,.aqbyh .btit{height:46px; padding-top:14px; line-height:16px; color:#333; font-size:12px; background:url(/jsonpublic/source/images/xdk/aqbtit.jpg) no-repeat;}
.bx .btit{padding-left:266px; background-position:0px 0px;}
.xm .btit{padding-left:216px; background-position:0px -60px;}
.fl .btit{padding-left:213px; background-position:0px -120px;}
.zh .btit{padding-left:216px; background-position:0px -180px;}
.aqbyh .btit{padding-left:258px; background-position:0px -240px;}
.btxt{width:364px; padding-left:77px; font-size:14px; background:url(/jsonpublic/images/xdk/yy.jpg) 0px 0px no-repeat; padding-top:18px; line-height:24px;}
.bicon{height:73px; padding-left:77px; padding-top:18px;}
.xm .bicon,.fl .bicon{padding-top:8px;}
.bmore{height:30px; line-height:30px; text-align:right; padding-right:30px; font-size:16px; font-weight:bold; padding-top:22px;}
.xm .bmore,.fl .bmore{padding-top:8px;}
.bmore a{color:#000;}
.bmore a:hover{color:#4d7200;}
.aqbyh{width:978px; margin:0px auto; padding-left:20px; padding-top:25px; background:#fff; border:1px #ddd solid; border-top:4px #aba8d5 solid;}

/*安全保障详情*/
.titabde{background:url(/jsonpublic/images/xdk/detline.jpg) 50% bottom no-repeat; height:145px;}
.titabde h1{padding-top:25px; font-size:28px; text-align:center; font-weight:normal;}
.titabde .subtit{padding-right:125px; font-size:16px; text-align:right; font-style:italic; padding-top:15px;}
.tadetal,.ntadet{padding:20px 20px 15px 80px; font-size:16px; line-height:28px;}
.tadetal{padding:20px 20px 15px 45px;}
.ntadet{padding:8px 42px 15px 77px;}
.tadetal h3,.ntadet h3{line-height:30px; padding-bottom:10px;}
.ntadet h3{font-size:16px;}
.tadetal h5{font-size:16px; font-weight:bold;}
.tadeul li,.ntadet li{background:url(/jsonpublic/images/xdk/a_bit.gif) 5px 15px no-repeat; line-height:26px; padding:5px 0px 5px 30px;}
.ntadet p{line-height:22px; padding:5px 0px; font-size:14px;}
.dnote{color:#ff3600; font-style:italic; padding-left:30px; line-height:24px; font-size:14px;}
.dediv{border-top:1px solid #D8D9D7; margin:0px 20px 15px 30px; padding-bottom:20px; padding-top:30px;}
.dels{width:160px; border-right:1px #D8D9D7 dashed; float:left;}
.dels li{height:28px; line-height:28px; width:160px; float:left; font-size:16px;}
.dejg{width:470px; float:right; }
.dejg li{ width:230px; float:left; height:28px; line-height:28px; }
.dejg li.wid01{width:460px;}
.lawtit{height:40px; padding-left:10px; font-size:18px; font-weight:bold; line-height:40px; margin:20px 20px 20px 30px; background:#f5f5f5; border:1px #ddd solid;}
.lawtit span{font-weight:normal; font-size:16px;}
.law h3{font-weight:normal; color:#000;}
.law p{font-size:14px;}

.monit{padding-bottom:15px; padding-top:15px; border-bottom:1px #D8D9D7 dashed;}
.monit dt { float:left; width:112px; height:41px; overflow:hidden; padding-top:5px;}
.monit dd { float:right; width:535px; font-size:14px;}

.fkflow{padding:15px 0px 0px 48px;}
.fk_lf{width:147px; display:block; float:left; background:url(/jsonpublic/images/xdk/flowimg.gif) no-repeat; height:152px; line-height:500px; overflow:hidden;}
.fi01 .fk_lf{background-position:right 0px;}
.fi02 .fk_lf{background-position:right -152px;}
.fi03 .fk_lf{background-position:right -304px;}
.fi04 .fk_lf{background-position:right -456px;}
.fi05 .fk_lf{background-position:right -608px;}
.fi06 .fk_lf{background-position:right -760px;}
.fk_rt{width:508px; float:left;}
.topfk,.bomfk,.tyfk,.byfk{height:11px; font-size:0px; line-height:0px; background:url(/jsonpublic/images/xdk/flowtop.gif) no-repeat;}
.bomfk{background:url(/jsonpublic/images/xdk/flowbom.gif) no-repeat; _background:url(/jsonpublic/images/xdk/flowbom.gif) 2px 0px no-repeat;}
.tyfk{background:url(/jsonpublic/images/xdk/fltop.gif) no-repeat;}
.byfk{background:url(/jsonpublic/images/xdk/flbom.gif) no-repeat; _background:url(/jsonpublic/images/xdk/flbom.gif) 2px 0px no-repeat;}
.midfk{border-left:2px #83ae27 solid; border-right:2px #83ae27 solid; padding: 0px 20px 10px 20px;}
.midfk li{ padding:5px 0px; padding-left:25px; color:#222; line-height:24px;}
.midfk li.num01{background:url(/jsonpublic/images/xdk/num01.gif) 0px 8px no-repeat;}
.midfk li.num02{background:url(/jsonpublic/images/xdk/num02.gif) 0px 8px no-repeat;}
.midfk li.num03{background:url(/jsonpublic/images/xdk/num03.gif) 0px 8px no-repeat;}
.midfk li.num04{background:url(/jsonpublic/images/xdk/num04.gif) 0px 8px no-repeat;}
.ybord{border-left:2px #ff7900 solid; border-right:2px #ff7900 solid;}
.flowad{width:508px; margin-left:147px; _margin-left:73px; height:59px; float:left; margin-top:15px; background:url(/jsonpublic/images/xdk/flowad.gif) no-repeat;}

.cr_rt .rtit{height:33px; background-position:-66px -873px; line-height:30px; padding-left:32px; color:#000; font-size:16px;}
.cr_rt .rtxt,.cr_rt .exam{line-height:30px; margin:5px 32px 0px 32px; padding-bottom:20px;}
.awrli{line-height:30px; font-size:16px; background: url(/jsonpublic/images/xdk/a_bit.gif) 0px 13px no-repeat; padding-left:15px;}
.aw{padding-left:45px; background: url(/jsonpublic/images/xdk/aw.gif) 0px 2px no-repeat; *background-position:0px 0px;}
.bgpos{background-position:0px 5px;}
.aremark{background:#f5f5f5; line-height:40px; height:40px; padding:0px 30px; color:#666; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.relogin{height:27px; width:93px; margin-left:10px; float:left; line-height:27px; text-align:center; color:#fff; background-position:right -82px;}
.relogin:hover{background-position:right -109px; color:#fff;}
.exp{padding:10px 15px 20px 160px; line-height:22px; color:#666;}
.exp p{padding:3px 0px;}

.onedleft2d{width:100%; height:60px;}
.onedleft2d ul{list-style:none; padding:0px; margin:0px;}
.onedleft2d li{float:left;}
.o1{width:66px;}
.o2{width:235px;}
.o3{width:2px;}
.o4{width:130px;}
.hei12{font-family: "微软雅黑";font-size:12px;}
.hei{font-family: "微软雅黑";font-size: 14px;}
.onedleft3d{width:100%; height:19px;} 
.onedleft4d{width:100%; height:54px;} 
.onedleft5d{width:100%; height:59px;}
.onedleft6d{width:100%; height:39px;}
.onedright{width:488px; height:348px; float:right; margin-left:8px; border-bottom:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;}
.onedright2d{width:100%x; height:60px;}
.onedright2d ul{list-style:none; padding:0px; margin:0px;}
.onedright2d li{float:left;}
.o5{width:66px;}
.o6{width:154px;}
.o7{width:2px;}
.o8{width:130px;}
.onedright3d{width:100%; height:19px;} 
.onedright4d{width:100%; height:85px;} 
.onedright5d{width:100%; height:59px;}
.onedright6d{width:100%; height:39px;}

/*about*/
.aboutad{height:234px; background:url(/jsonpublic/images/img/about.jpg) scroll 50% 0px no-repeat #83ae27;}
.clear { clear:both !important; line-height:normal !important; font:normal !important;}
.background { background:none !important;}
.border { border:none !important;} 
a{outline:none; text-decoration:none; color:#000;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

/* 共用 */
.container { width:960px; position:relative; margin:0 auto; padding-top:18px; padding-bottom:14px;}
.container_left { width:223px; position:absolute; top:18px; left:0px; z-index:111;}
.container_left ul li { height:50px; width:224px; }
.container_left ul li a { display:block; background:url(/jsonpublic/images/img/meixuan.jpg) no-repeat; height:50px; padding-left:80px; line-height:50px; color:#595959;}
.container_left ul li a:hover { display:block; background:url(/jsonpublic/images/img/btnhov.jpg) no-repeat; color:#232323;}
.container_left ul li.top a { display:block; background:url(/jsonpublic/images/img/tpmx.jpg) no-repeat; height:50px; padding-left:80px; line-height:50px; color:#595959;}
.container_left ul li.top a:hover { display:block; background:url(/jsonpublic/images/img/tphov.jpg) no-repeat; color:#232323;}
.container_right { float:right; width:727px; border:1px #c6c6c6 solid; background:#d8d9d7; padding-left:8px;}
.content h4{ height:32px; border-bottom:2px #86d0b5 solid; line-height:32px; color:#3a9775; font-weight:normal; font-size:16px;}
.zhushid {line-height:28px; padding:12px 0px 12px 15px; border-bottom: 1px dashed #D8D9D7; color: #000000;
    font-size: 16px; margin-bottom:30px;}
.container_left ul li a.guangbiaod,.container_left ul li a.guangbiaod:hover{ background:url(/jsonpublic/images/img/xuanzhong.jpg) no-repeat; color:#232323;}
.container_left ul li.top a.guangbiaod,.container_left ul li.top a.guangbiaod:hover{ background:url(/jsonpublic/images/img/tpxz.jpg) no-repeat; color:#232323;}

.tuandui,.huoban,.dongtai,.nashi,.lianxi,.jianjie{ margin:0px 15px;}

/* 管理团队  专家顾问 */
.tuandui dt { float:left; width:135px; height:157px; border:1px #d8d9d7 solid; overflow:hidden;}
.tuandui dd { float:right; width:580px;}
.tuandui dd .zuher { height:29px; line-height:29px; border-bottom:1px #b4b4b4 dashed; overflow:hidden;}
.tuandui dd h5 { font-size:18px; float:left; font-weight:normal; line-height:29px;}
.tuandui dd span { font-size:14px; float:left; color:#555555; padding-left:10px; padding-top:2px; height:23px;}
.tuandui dd p { color:#222; line-height:26px; padding-top:6px;}
.tuandui dl { padding-bottom:38px;}

.tuandui dl.rypd{margin:0px 15px; border-bottom:1px #b4b4b4 dashed; padding:25px 0px;}
.rypd dd .rytit{ height:28px; line-height:28px; overflow:hidden; float:none;}
.rypd dd .rydate{ height:24px; line-height:24px; overflow:hidden; color:#888; fong-size:12px; padding-bottom:10px;}
.rypd dd .rydate span{fong-size:8px; color:#ccc; padding:0px 20px; float:none;}
.rypd dt{border:0px; width:130px;}
.tuandui .rypd dd{width:565px;}
.rypd dd p{line-height:24px; padding-top:0px;}
.rypd dd a{display:block;}
.rypd dd a:hover,.rypd dd a:hover p,.rypd dd a:hover .rydate{color:#619101;}

/* 合作伙伴 */
.huoban span { padding-top:38px;}
.tu { float:left; width:190px; height:73px; margin-right:14px;}
.huoban h5 { font-size:18px; color:#000000; font-weight:normal; height:26px; line-height:26px;}
.yenei { line-height:26px; padding:30px 0px 30px 0px; border-bottom:1px #d8d9d7 dashed;}
.huoban .boea { border:none;}

/* 最新动态 */
.dongtai p { height:20px; line-height:20px; padding-top:24px; font-size:18px;}
.dongtai{ min-height:300px; *height:300px;}
.dongtai ul li { height:50px; line-height:50px; border-bottom:1px #c1c1c1 dashed; font-size:16px; background:url(/jsonpublic/images/img/dian.jpg) left no-repeat; padding-left:20px; }
.dongtai ul li a { float:left;}
.dongtai ul li a:hover { color:#434343;}
.dongtai ul li span { float:right; font-size:12px; color:#c1c1c1;}
.dongtai .boea { border:none;}


/* 招贤纳士 */
.nashi h5 { font-size:18px; font-weight:normal; height:40px; line-height:40px;}
.nashi p { line-height:24px; color:#828181; margin:0px auto 10px auto;}
.nashi dt { font-size:16px; color:#478A00; line-height:34px; background:url(/jsonpublic/images/img/jiantou.jpg) no-repeat 0px 11px; height:32px; line-height:32px; padding-left:24px;}
.nashi .jiantou { background:url(/jsonpublic/images/img/jiantou2.jpg) no-repeat 0px 11px;}
.nashi dd { border:1px #d8d9d7 solid; padding:24px; margin-bottom:10px;}
.nashi .duan1 { float:left; font-size:14px; color:#333333; padding-right:24px;}
.nashi h3 { font-size:14px; color:#333333; height:30px; line-height:30px; padding-top:4px;}
.nashi li { font-size:12px; height:26px; line-height:26px; color:#333333;}
.nashi .beizhu { font-size:14px; color:#333333;}
.nashi .beizhu b { color:#ff0000;}
.nashi .beizhu span { font-weight:bold;}
.tongyi { display:none;}
.nashi dl { padding-top:6px;}
.nashi .tongyi { display:none;}


/* 联系我们 */
.brghhh { font-size:16px; color:#000000; border-bottom:1px dashed #c1c1c1; padding:0px; height:52px; line-height:52px;}
.hasng1 { border-bottom:1px #c1c1c1 dashed; padding-bottom:12px;}
.lianxi h5 { font-size:16px; color:#000; line-height:28px; padding-top:8px; }
.lianxi h6  { font-size:16px; font-weight:normal; line-height:20px; padding-top:8px;}
.hasng1 p { line-height:24px; color:#222ont-size:14px;}
.sfgrrr { display:block;}
.adefee { padding-bottom:6px;}

/* 公司简介 */
.jianjie p { color:#4e4a4a; line-height:28px; padding-bottom:14px;}
.jianjie p.red{color:#ff3600}
.sdsrerr { color:#000000; font-size:16px;}
.jianjie ul li { float:left; padding-left:13px; margin-top:16px;}
.jianjie ul li a { display:block; width:107px; height:68px; border:1px #cccccc solid;}
.jianjie ul li span { display:block; text-align:center; color:#3a9775;}

.gsry{padding-bottom:20px;}
.gsry ul li { float:left; padding-left:13px; margin-top:16px;}
.gsry ul li a{ display:block; width:107px; height:165px; color:#3a9775; text-align:center; overflow:hidden; font-xie:12px;}
.gsry ul li a img{ width:107px; height:139px;}

.hzgs{padding-bottom:30px; padding-top:10px;}
.hzgs ul li { float:left; padding-left:13px; margin-top:16px;}
.hzgs ul li a{ display:block; width:130px; height:50px; overflow:hidden; border:1px #efefef solid;}
.hzgs ul li a:hover{border:1px #c1d894 solid;}
.hzgs ul li a img{ width:130px; height:50px;}

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100;	text-align: center;	line-height: 0;	}
#lightbox a img{ border: none; }
#outerImageContainer{position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto;}
#imageContainer{padding: 10px;}
#loading{position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0;}
#hoverNav{position: absolute; top: 0; left: 0;	height: 100%; width: 100%; z-index: 10;	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}
#prevLink, #nextLink{width: 49%; height: 100%;	background: transparent url(/jsonpublic/images/img/blank.gif) no-repeat; /* Trick IE into showing hover */ display: block;}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(/jsonpublic/images/img/prev.gif) left 50% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(/jsonpublic/images/img/next.gif) right 50% no-repeat; }
.introtxt{padding-bottom:20px;}
.introtxt .tt{font-size:16px; font-weight:bold;}
.introtxt td{line-height:28px;}

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText{color: #FF9834; font-weight:bold; text-decoration: none;}
#nextLinkText{padding-left: 20px;}
#prevLinkText{padding-right: 20px;}
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData { padding-top: 5px;}

/*** END : added padding when navbar is on top ***/

#imageDataContainer{font: 10px Verdana, Helvetica, sans-serif; background-color: #fff;	margin: 0 auto;	line-height: 1.4em;	}
#imageData{	padding:0 10px;	}
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}
#imageData #helpDisplay {clear: left; float: left; display: block; }

#overlay{position: absolute; top: 0; left: 0; z-index: 90;	width: 100%; height: 500px;	background-color: #000;	filter:alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6; display: none;}
.clearfix:after {content: "."; 	display: block; height: 0; 	clear: both; visibility: hidden;}
* html>body .clearfix {	display: inline-block; 	width: 100%;}
* html .clearfix {	/* Hides from IE-mac \*/ height: 1%;/* End hide from IE-mac */	}	
#lightboxIframe {display: none;}	
.clearfix { display: block; *display:inline-block;}
.clearfix:after { clear: both;  content: ".";  display: block;  height: 0;  overflow: hidden;  visibility: hidden;}


/*help*/
.helpad{height:234px; background:url(/jsonpublic/source/images/web/img/help.jpg) scroll 50% 0px no-repeat #86d0b5;}
.introad{height:234px; background:url(/jsonpublic/source/images/web/img/intro.jpg) scroll 50% 0px no-repeat #86d0b5;}
.wid635{width:700px;}
.pd5{padding:5px 0px;}
.pd15{padding:15px 0px 5px 0px;}

.hetabe{background:#ddd;}
.hetabe td{line-height:28px; height:28px; padding:0px 5px; background:#fff;font-size:12px; }
.dfgjrjtt { width:70px; color:#f42e2e; text-align:center; }
.hetabe .f5 td{background:#f5f5f5;}
.hetabe thead td{background:#f9f9f9; color:#000;}
.hetabe tbody td.f9{background:#f9f9f9; text-align:right; padding-right:20px; color:#000;}


.fsgfgffr { min-height:420px; *height:800px;}

.fsgfgrrs { margin-bottom:30px;}
.fdgfggg { padding-bottom:30px;}=======
.fsgfgffr { min-height:420px; _height:420px;}
.txtalc{text-align:center; padding-bottom:20px; padding-top:10px;}

/*txtcent*/
.txtcent{margin:0 15px; line-height:28px; color:#222; padding-bottom:30px;}
.txtcent .tit{padding:5px 0px; font-size:16px; color:#000; height:auto;}
.helpht{ min-height:240px; _height:240px;}
.nobrd{border:none;}
.titfont{ color:#000000; font-size:16px; line-height:28px; padding:12px 0px 12px 15px; border-bottom: 1px dashed #D8D9D7;}

.fdgfhhh span { color:#F42E2E;}
.fgfrrrr { margin:0px;}
.fgbfgg { margin-bottom:4px;}
.dsgfrre { font-size:18px; color:#000000; background: url(/jsonpublic/images/img/shuxians.jpg) 0px 7px no-repeat; font-weight:normal; padding-left:12px; height:30px; line-height:30px;}
.dfgghhte { margin-bottom:22px;}
.hefkg_left { float:left; width:65px; background: url(/jsonpublic/images/img/xian1.jpg) center repeat-y; padding-top:50px; height:822px;}
.hefkg_left li { background: url(/jsonpublic/images/img/yuan.jpg) no-repeat; width:65px; height:51px; font-size:14px; line-height:65px; text-align:center; color:#FFFFFF; padding-top:14px; margin-bottom:210px;}
.hefkg_right { float:right; padding-left:4px; width:630px; _overflow:hidden; padding-top:36px;}
.sdfggrte { width:624px; position:relative; padding-left:17px; margin-bottom:12px;}
.hefkg_left li p { line-height:18px; width:46px; margin:0 auto;}
.sdgtts { width:619px; height:9px; overflow:hidden;}
.sdgttot { width:619px; height:9px; overflow:hidden;}
.sdgttot img{float:left;}
.zhonghjer { background: url(/jsonpublic/images/img/zhongfg.jpg) repeat-y; padding-bottom:8px; width:619px;}
.zhonghjer h6 { background:url(/jsonpublic/images/img/qiandiadf.jpg) 0px 18px no-repeat; border-bottom:1px #adabab dashed; height:38px; line-height:38px; font-size:18px; color:#2d2a2a; font-weight:normal; margin-left:24px; padding-top:8px; width:562px; padding-left:26px; width:542px;}
.zhonghjer h6 span { color:#FF0000;}
.zhonghjer p { font-size:16px; color:#454343; margin-left:24px; width:580px;}
.fsdgttt { position:absolute; z-index:111; width:19px; height:25px; top:35px; left:0px;}
.zhonghjer ul { padding-left:24px;}
.zhonghjer ul li { font-size:12px; color:#666666; line-height:30px; padding-left:10px; background: url(/jsonpublic/images/img/dianfr.jpg) 0px 14px no-repeat; }
.zhonghjer ul li span { color:#000000;}
.zhonghjer .sgrgttt { font-size:14px; line-height:20px;}
.sfdggtt { margin-bottom:0px;}
.sgtrtty { font-size:12px; color:#FF0000; width:640px; border-bottom:2px #e5eaef solid; height:44px; line-height:44px; padding-top:8px;}
.hefkg_left .dfgwwww { margin-bottom:250px;}
.sgcefrr { padding-top:8px;}
.dfgghhtz li { margin-bottom:110px;}
.duytt .sdfggrte { margin-bottom:32px;}
.dfgghhtz { height:auto;}
.nuioii { background: url(/jsonpublic/images/img/shuxians.jpg) 0px 14px no-repeat; }
.dhhythta { padding-bottom:20px;}
.vdfggt { font-size:0px;}
.dfgtttts { margin-bottom:0px;}
.sdffrttt { margin-bottom:12px;}
.aftrttt { color:#0066FF;}

/*账户受益人*/
.accountright{  -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;-moz-border-top-colors: none;background: url("/jsonpublic/images/zhimg/rtline.gif") repeat-y scroll 0 0 rgba(0, 0, 0, 0);border-color: #c5c5c3 #c5c5c3 #c5c5c3 -moz-use-text-color;border-image: none;border-style: solid solid solid none;border-width: 1px 1px 1px 0; float: right;height: 100%; min-height: 620px; padding: 10px 40px;width: 740px;}
.accountright_tit_h1 { border-bottom: 2px solid #86d0b5;color: #3a9775; display: block;font-size: 18px;font-weight: normal;height: 36px; line-height: 36px;}
.accountinfo{line-height: 28px;padding: 10px 10px 5px;}

.acc_tab {border:1px #d6d6d6 solid; margin-bottom: 15px;margin-top: 20px; width: 100%;}
.acc_tab th { background-color: #eaeaea;color: #767676;font-size: 14px; font-weight: bold;}
.acc_tab td, .acc_tab th {border-bottom: 1px solid #d6d6d6;color: #373737; padding: 10px 5px;text-align: center; vertical-align: middle;font-size: 14px;}
.acc_tab tr.nobom td{border-bottom:0px;}
.acc_tab a{ text-decoration: none; }
.acc_tab a:hover{ text-decoration: underline; color: #333; }
.delete{ vertical-align: -webkit-baseline-middle; width:17px; height:28px; margin-top:5px; margin-left:7px; position: absolute; }

.szsyrbtn {float: left;height: 30px;padding-left: 10px;width: 600px;}
.syrbtna {color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);display: block; float: left; height: 42px; line-height: 35px; text-align: center; background-attachment: scroll; background-color: rgba; background-image: url(/jsonpublic/images/zhimg/sz-btn.jpg); background-repeat: no-repeat; background-position: 0 0; }
.syrbtna:hover{color:#000; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);}

.syrform{float: left; border: 1px solid #d6d6d6;margin-top:30px;margin-left:10px;margin-right:50px; _margin-right:0px; width:718px;}
.syrformtitle{ background-color: #eaeaea; margin: 1px; height: 40px; padding-left:15px;line-height:40px; }
.syleft{ float:left;width:475px; margin-top:30px; border-right-width: 1px; border-right-style: dashed; border-right-color:#d6d6d6; }
.reg_s { border-bottom: 2px none; height:40px; font-size: 14px; font-weight: normal; color:#000; width:420px; margin-bottom:25px; vertical-align: middle;/* [disabled]line-height: 40px; */ }
.symobile{ height: 34px; width:270px; color: #333; border: 1px #cecece solid; border-radius: 5px; padding-left: 10px; line-height: 32px; }
.syleft label {font-size: 14px; line-height: 29px; text-align: right; width:110px; margin-right:12px; *margin-right:8px; float:left}
.sypad4{ padding-left: 4px;}
.sylef input.reg_name, input.reg_mail, input.reg_password { color: #666;}
.sylef input, select, label { vertical-align: middle;}
.sylef input { border: 0;}

.syright{ margin-left:35px; float:left; margin-top:30px; width:172px; }
.syright_tit_h2{ font-size:14px; font-weight: normal; color: #747474; margin-top: 10px;line-height: 25px; }
.photo_border{ border: 1px solid #d0d0d0; height:100px; width:150px; background-image: url(/jsonpublic/images/zhimg/add.jpg); background-repeat: no-repeat; background-position:center center; margin-top:30px; }

.sysubmit_btn a{background-image: url(/jsonpublic/images/zhimg/submit.gif); background-repeat: no-repeat; width:185px; height:42px; font-size:14px; line-height: 35px; color: #bd6208; text-align: center; display: block; text-decoration: none; margin-top:10px;margin-left:auto;margin-right:auto;margin-bottom:30px;}
.sysubmit_btn a:hover{ background-image: url(/jsonpublic/images/zhimg/submit_hover.gif); background-repeat: no-repeat; color: #bd6208; text-decoration: none; }
.sysubmit_btn span{background-image: url(/jsonpublic/images/zhimg/submit_div.gif); background-repeat: no-repeat; width:185px; height:42px; font-size:14px; line-height: 35px; color: #bd6208; text-align: center; display: block; text-decoration: none; margin-top:10px;margin-left:auto;margin-right:auto;margin-bottom:30px;}

.wid677 {width: 677px;}
.lybox { background: none repeat scroll 0 0 #ffffff;border: 5px solid #4e4e4e;left: 50%;position: absolute;top: 295px;z-index: 999;}
.marlf253 {margin-left: -253px;}
.closediv { background: url(/jsonpublic/images/zhimg/clo_i.png); _background: url(/jsonpublic/images/zhimg/clo_i.jpg) ;font-size: 0;height: 24px;line-height: 0;position: absolute;right: 5px; top: -15px; width: 24px;}
.phonebtn{ border: 1px solid #99ABB6; border-radius: 2px; display: inline-block; width: 75px; height: 23px; vertical-align: middle; line-height: 23px; font-size: 12px; color: #075983; text-align: center; margin-top:6px; _top:6px;background-image: url(/jsonpublic/images/zhimg/phonecode.jpg); background-repeat: repeat-x;float:left ;}

.determine  a{ background-image: url(/jsonpublic/images/zhimg/qdbtn.gif); background-repeat: no-repeat; width:126px; height:42px;line-height:42px;font-size:16px;  color: #333; text-align: center; display: block; text-decoration: none; margin-top:90px; margin-left:280px; margin-bottom:30px;}
.determine  a:hover{ background-image: url(/jsonpublic/images/zhimg/qdbtn_hover.gif); background-repeat: no-repeat; color: #FFF; text-decoration: none; }


.tm {background:#000; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; height:40px; position:fixed; bottom:0px; width:100%;}
.sysubmit_btn{display:block; float:left; width:500px;}

.positive_btn{height:70px;}

/*奖励费用*/
.rewtab,.rewtab li.rhov,.cr_lf,.cr_rt .rtit,.cr_rt .rtit2,.relogin{background: url(/jsonpublic/source/images/web/img/nreward2_0402_n.png) no-repeat;}
.rewtab{height:41px; background-position:0px -41px; background-repeat:repeat-x; margin:10px 0px; padding:0px 20px;}
.rewtab li{width:156px; height:41px; float:left; line-height:41px; font-size:16px; text-align:center;}
.rewtab li.rhov{background-position:0px 0px;}
.rewtab li a{display:block; color:#000;}
.rewtab li.rhov a,.rewtab li.rhov a:hover{color:#fff;}
.rewtab li a:hover{color:#478a00;}

.rewfore{margin-top:25px; font-size:16px; line-height:24px; padding:0px 15px 5px 20px;}

.cenrew{padding:15px 20px 0px 20px;}
.cr_lf{width:130px; display:block; float:left; height:128px; line-height:300px; overflow:hidden;}
.ic01 .cr_lf{height:98px; background-position:right -156px;}
.ic02 .cr_lf{background-position:right -254px;}
.ic03 .cr_lf{background-position:right -382px;}
.ic04 .cr_lf{background-position:right -510px;}
.ic05 .cr_lf{background-position:right -638px;}
.ic06 .cr_lf{height:107px; background-position:right -766px;}
.ic07 .cr_lf{height:93px; background: url(/jsonpublic/source/images/web/icon/newrew.gif) right 0px no-repeat;}
.ic08 .cr_lf{height:93px; background-position:right -999px;}
.ic09 .cr_lf{height:106px; background-position:right -1092px;}

.tqimg{background: url(/jsonpublic/source/images/xdk/jlfynew_new.png) no-repeat; width:495px; margin-left:35px;}
.ic07 .tqimg{height:120px; background-position:left -282px;}
.ic08 .tqimg{height:139px; background-position:left -140px;}
.ic09 .tqimg{height:139px; background-position:left 0px;}

.cr_rt{width:555px; border:2px #86d0b5 solid; float:right;}
.cr_rt .rtit{height:33px; background-position:-66px -873px; line-height:30px; padding-left:32px; color:#000; font-size:16px;}
.cr_rt .rtit2{height:33px; background-position:-66px -873px; line-height:25px; padding-left:22px; color:#000; font-size:14px;}
.cr_rt .rtxt,.cr_rt .exam{line-height:30px; margin:5px 32px 0px 32px; padding-bottom:20px;}
.cr_rt .tqtxt{line-height:24px; margin:10px 25px; color:#ff3600;}
.cr_rt .tqzy{line-height:22px; font-size:14px; font-style:italic; color:#777; padding-left:15px;}
.awrli{line-height:30px; font-size:16px; background: url(/jsonpublic/images/xdk/a_bit.gif) 0px 13px no-repeat; padding-left:15px;}
.aw{padding-left:45px; background: url(/jsonpublic/images/xdk/aw.gif) 0px 2px no-repeat; *background-position:0px 0px;}
.bgpos{background-position:0px 5px;}
.aremark{background:#f5f5f5; line-height:40px; height:40px; padding:0px 30px; color:#666; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.relogin{height:27px; width:93px; margin-left:10px; float:left; line-height:27px; text-align:center; color:#fff; background-position:right -82px;}
.relogin:hover{background-position:right -109px; color:#fff;}
.exp{padding:10px 15px 20px 160px; line-height:22px; color:#666;}
.exp p{padding:3px 0px;}

.ic08 .yqfl{width:480px; float:none; padding-left:40px;}
.ic08 .avtab_d{width:470px;}
.ic08 .ad_t,.ic08 .ad_a{width:85px;}
.ic08 .avtxt{float:none; padding-top:0px; padding-bottom:20px; width:480px;}
.ic08 .avtab_d{float:none;}
.abvv .ad_b0{background:#fff; }
.abvv .ad_t{background:#fff6e5;}
.ic08 .av1{background-position:-175px -57px;}
.ic08 .av2{background-position:-175px -103px;}
.ic08 .av3{background-position:-175px -154px;}
.ic08 .av4{background-position:-175px -209px;}

.tqrt{border: 0px; float: none; width: auto; margin:20px 10px;}
.tqrt .rtit2{background:#f5f5f5; height:35px; line-height:35px;}

.co01 .cr_lf,.co02 .cr_lf,.co03 .cr_lf,.co04 .cr_lf,.co05 .cr_lf{width:118px; height:116px; background: url(/jsonpublic/images/xdk/cost.gif) no-repeat;}
.co01 .cr_lf{background-position:right 0px;}
.co02 .cr_lf{background-position:right -116px;}
.co03 .cr_lf{background-position:right -232px;}
.co04 .cr_lf{background-position:right -348px;}
.co05 .cr_lf{background-position:right -464px;}
.co01 .cr_rt,.co02 .cr_rt,.co03 .cr_rt,.co04 .cr_rt,.co05 .cr_rt{width:570px; padding-bottom:10px;}
.costxt{line-height:24px; margin:0px auto; padding:5px 0px 5px 20px; font-size:14px;}

.cmis{ height:30px; display:inline-block; padding:5px 0px 5px 55px; line-height:30px; font-size:22px; background: url(/jsonpublic/images/xdk/mis.jpg) no-repeat;}

.bd01{border-bottom:1px #ddd dashed;}
.bd02{border-bottom:1px #ddd solid;}
.bd03{border:0px;}
.ptb01{padding-top:10px; padding-bottom:20px;}
.pb01{padding-bottom:20px;}
.pb02{padding-bottom:10px;}
.mar01{margin:0px 20px 10px 30px;}
.marb03{margin-bottom:15px;}
.padb04{padding-bottom:5px;}
.lht01{line-height:24px;}
.lht02{line-height:30px;}
.ht01{height:30px;}
.txti{text-indent:2em;}

.marq{ height: 190px; line-height: 26px; margin: 0px auto; position: relative; width: 225px; overflow:hidden;}

.flt{float:left; padding-right:15px; padding-left:10px;}
.forg{width:100px; text-align:right; color:#FF3600;}

.coulist{margin:0px auto; width:222px;}
.coulist li,.marq ul li {
    border-bottom: 1px dashed #DFDEDE;
    color: #666666;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: left;
    width: 222px;
}
.marq ul li{
	margin-top:8px;
}
.marq ul li span{display:block; float:left; width:70px; font-size:12px; overflow:hidden;height:30px;}
.marq ul li b{font-weight:normal; font-size:12px;}
.marq ul li b i{color:#FF6600; font-size:14px;}
.coulist li em {
    background-color: #FC6800;
    color: #FFFFFF;
    float: left;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    margin-right: 10px;
    margin-top: 8px;
    text-align: center;
    width: 16px;
}
.coulist li span {
    color: #666666;
    float: left;
}
.coulist li b {
    color: #FF6600;
}
.coulist li.nobd{border-bottom:0px;}
.ht250{height:250px;}
.ht265{height:261px;}
.ht110{height:110px;}
.ht145{height:145px;}
.ht60{height:60px;}
.ht10{height:10px;}
.wid340{width:340px;}
.lh24{line-height:24px;}

.xdkdy{ text-indent:2em; line-height:30px; margin:20px 20px 10px 30px; font-size:16px;}
/*.xdfltable{ height:314px; background: url(/jsonpublic/images/xdk/fltabbg.jpg) no-repeat;}*/
.xdfltable{ height:268px; background:url(/jsonpublic/source/images/web/img/fltabbgnew.jpg) no-repeat;}
.xdtlf{width:90px; line-height:28px; float:left; font-size:18px; text-align:right; margin-top:50px;}
.xdtrt{width:577px; float:right; padding-top:9px;}
.xdtrt .liht36{height:36px; line-height:36px;}
.xdtrt .liht40{height:47px; line-height:55px;}
.ft16b{font-size:16px; font-weight:bold;}
.xdtrt .liht26{line-height:26px;}
.xpad0{padding-top:4px;}
.xpad01{padding-top:9px;}
.xpad02{padding-top:12px;}
.xpad03{padding-top:0px;}
.xpad04{padding-top:25px;}
.xbpa01{padding-bottom:0px;}
.xplf01{padding-left:49px;}
.xrpd01{padding-right:5px;}
.xrpd02{padding-right:20px;}
.xrpd03{padding-right:40px; _padding-right:0px;}
.xptb{padding:8px 0px 30px 0px;}
.xm01{margin:0 38px 10px 30px;}
.xm02{margin:0 38px 0px 30px;}
.xmr10{margin-right:10px;}

.zjtxt{padding-left:70px; width:620px;}
.zjtxt .timg{width:100px; float:left;}
.zjtxt .rttxt{width:455px; float:right;}
.zjtxt .xdzjtt{font-size:18px; font-weight:bold;}
.zjtxt .xdzjtt span{font-size:16px;}
.xtxtzj{ line-height:32px; font-size:14px; position:relative;}
.xtxtzj p{padding-bottom:10px; line-height:24px;}
.xzk{height:130px;}
.xzk .xtxbtn,.xsq .xtxbtn{position:absolute; color:#003be3; right:5px; bottom:-12px; background:url(/jsonpublic/images/xdk/isq.gif) 0px 8px no-repeat; padding-left:15px; height:20px; line-height:20px;}
.xsq .xtxbtn{background:url(/jsonpublic/images/xdk/izk.gif) 0px 8px no-repeat;}
.martop01{margin-top:30px;}
.xzk .bom01,.xsq .bom01{bottom:12px;}
.ftst{font-style:italic; color:#FF3600;}
.zjtxt .uldec li,.zjtxt .uldis li{color:#666;}


.indimg{ height:340px; background:#f5f5ed; padding:30px 0px;}
.indimg .addiv,.indimg .addiv li{background:url(/jsonpublic/images/in_ad.jpg) 0px 0px no-repeat;}
.indimg .addiv{width:1004px; height:340px; margin:0px auto; }
.indimg .addiv li{height:163px; padding-top:177px; display:block; float:left; line-height:26px; font-size:16px; color:#717965;}
.indimg .addiv li.in_01{width:197px; padding-left:58px; background-position:0px 0px;}
.indimg .addiv li.in_02{width:204px; padding-left:46px; background-position:-255px 0px;}
.indimg .addiv li.in_03{width:245px; height:340px; padding-top:0px; background-position:-505px 0px;}
.indimg .addiv li.in_04{width:248px; background-position:right 0px; float:right;}
.indimg .addiv li.hov_01{background-position:0px -340px; color:#fff;}
.indimg .addiv li.hov_02{background-position:0-255px -340px; color:#fff;}
.indimg .addiv li.hov_03{background-position:-505px -340px; color:#fff;}
.indimg .addiv li.hov_04{background-position:right -340px; color:#fff;}
.indimg .addiv li.in_03 a{display:block; float:left; padding-left:48px; width:197px; padding-top:177px; height:163px; color:#717965;}
.indimg .addiv li.hov_03 a{color:#fff;}

.xycgs{ padding:15px 15px 25px 15px;}
.xycgs p{font-size:16px;}
.margywm{margin:0px 15px;}
.tuandui .margywm dd{width:550px;}
.mag0{margin:0px; margin-bottom:30px;}
.msgbm{margin-bottom:15px;}
.txtcen{text-align:center;}
.redBd{border:1px #ff0000 solid;}
.logding{width:120px; height:120px; margin-left:-45px; left:50%; position:absolute; top:305px; z-index:999;}
/**/
.appd_lf{display:block; float:left; width:130px;}
.appd_rt{display:block; float:right; width:106px;}
.app_and,.app_ios{width:106px; height:50px; margin-bottom:10px; margin-top:9px; display:block; background:url(/jsonpublic/source/images/img/inappbtn.jpg) 0px 0px no-repeat;}
.app_and:hover{background-position:0px -50px;}
.app_ios{background-position:0px -100px;}

/*首页视频*/
.radi_a{height:24px; line-height:24px; text-align:center; width:240px; position:absolute; bottom:10px; }
.radi_a a{display:inline-block; height:14px; line-height:14px; width:14px; background:#ddd; margin:0px 3px; border-radius:7px;}
.radi_a a.hov{background:#86d0b5;}

