@charset "utf-8";

/* banner */
.product_banner{ width:100%; height:3.00rem; background:url(../images/product_banner.png) no-repeat; background-size: 100% 100%; position:relative; }
.product_banner .title_text { text-align:center; font-size:.17rem; color:#fff; padding-top:.12rem; }
.product_banner .cash { display:block; width:100%; text-align:center; font-size:.6rem; color:#FCFCFC; }
.product_banner .tip_text { text-align:center; color:#fff; font-size:.14rem; padding-bottom:.12rem; }
.product_banner .cash span { font-size:.24rem; }
.product_banner .tip { font-size:.13rem; color:#FFF8E9; width:.82rem; height:.22rem; line-height:.22rem; border:1px solid #FFD279; display:block; margin:0 auto; text-align:center; border-radius:.02rem; }
.product_banner .list { width:100%; background:#C102CD; position:absolute; left:0; bottom:0; padding:.12rem 0; }
.product_banner .list li { float:left; text-align:center; position:relative; }
.product_banner .list .li1 { width:40%; }
.product_banner .list .li2 { width:20%; }
.product_banner .list .li3 { width:40%; }
.product_banner .list .li4 { width:50%; }
.product_banner .list .li5 { width:50%; }
.product_banner .list strong { font-size:.14rem; color:#fff; }
.product_banner .list p { font-size:.14rem; color:#fff; opacity:.8; padding-top:.04rem; }
.product_banner .list li i { width:0; height:.45rem; border-right:1px solid #FFC043; position:absolute; right:0; top: 0; }

.title.novice_title { width:100%; }
.title.novice_title h3 { text-indent:.15rem; font-weight:bold; }

.introduce_list { width:100%; display:-webkit-flew; display:flex; padding:.25rem 0; }
.introduce_list li { -webkit-flew:1; flex:1; width:33.3%; }
.introduce_list li img {height: 0.5rem; display:block; margin:0 auto; }
.introduce_list li p{ text-align:center;}
.introduce_list li .p01{color: #3B424C;font-size: 0.14rem;margin-top: 0.11rem;line-height: 0.2rem;margin-bottom: 0.03rem;}
.introduce_list li .p02{font-size: 0.12rem;color: #9EA0A5;line-height: 0.17rem;}


.tab { width:100%; }
.tab .tab_btn { width:100%; display:-webkit-flew; display:flex; height:.5rem; border-bottom:1px solid #EBECED;}
.tab .tab_btn li { -webkit-flew:1; flex:1; width:50%; text-align:center; font-size:.17rem; color:#9EA0A5; height:.5rem; line-height:.5rem; position:relative; }
.tab .tab_btn li span { font-size:.14rem; }
.tab .tab_btn li.on { color:#3B424C; font-weight:bold; }
.tab .tab_btn li.on i { width:.231rem; height:.03rem; background:#FF9906; position:absolute; bottom:0; left:50%; margin-left:-.1155rem; }

/* 详情 */
.novice_box { padding-bottom:.6rem; }

.details { width:100%; padding-top:.02rem; }
.details table { width:100%; } 
.details table tr {}
.details table tr.gray { background:#FCFCFC; border:1px solid #F5F5F5; }
.details table td { padding:.15rem 0; }
.details table .detail_name { width:22%; text-align:right; font-size:.14rem; color:#9EA0A5; }
.details table td p { padding-left:.16rem; width:90%; line-height:.2rem; font-size:.14rem;font-size:4vw; color:#5B6067; }
.details .more{display: none;}
/*.detail_con { height:5rem; overflow:hidden; }*/
.detail_con {  }
.more { width:100%; height:.4rem; background:#fff url(../images/open_ico.png) no-repeat center center; background-size: 0.22rem 0.22rem;}
.more.up { background-image:url(../images/up_ico.png);background-size: 0.22rem 0.22rem;}

.profit_box { width:94%; margin:0 auto; padding:.2rem 0; }
.profit_box img { width:100%; max-width:100%; }

/* 常见问题 */
.question { padding-bottom:.6rem; }
.question .question_list { padding-top:.08rem; width:94%; }
.question_list h5, .question_list p { font-size:.14rem; color:#9EA0A5; line-height:.22rem; }
.question_list h5 { text-indent:.2rem; font-weight:normal; }
.question_list p { padding-left:.12rem; }

.question_list table { width:90%; margin:.06rem auto 0; }
.question_list table tr {}
.question_list table td, .question_list table th{ width:33.3%; height:.48rem; border: 1px solid #eaeaea; text-align:center; font-size:.14rem; color:#9EA0A5; font-weight:normal; }

.more_question { padding:.24rem 0; }
.more_question a { width:1.3rem; margin:0 auto; display:block; font-size:17px; height:.17rem; line-height:.17rem; color:#9EA0A5; background:url(../images/detail_novice/more_ico.png) no-repeat right center;background-size: 0.12rem 0.12rem; }

.detail_title2 { padding:.18rem 0; }
.detail_title2 h3 { font-size:.17rem; line-height:.23rem;  padding-left:.45rem; position:relative; }
.detail_title2 h3 i { width:.24rem; height:.24rem; background:url(../images/detail_novice/title_pic.png) no-repeat; left:.14rem; background-size:100% auto; position:absolute; top:0; }
.detail_title2 h3 span.more_item { width:.23rem; height:.23rem; background:url(../images/detail_novice/up_ico_small.png) no-repeat center center; position:absolute; right:.2rem; top:0;background-size: 0.15rem 0.15rem;}
.detail_title2 h3 span.more_item.up { background-image:url(../images/detail_novice/open_ico_small.png); }

.record_box { padding-bottom:.6rem; }
.record_box ul { width:100%; }
.record_box li { width:100%; line-height:.5rem; border-top:1px solid #f5f5f5; }
.record_box li.first { border-top:none; }
.record_box li p { color:#9ea0a4; font-size:.14rem; }
.record_box li p em { padding-left:.1rem; padding-right:.3rem; }
.record_box li p span {}
.record_box li p strong { float:right; padding-right:.1rem; text-align:right; }
/*投资详情4-1页面*/
a{ text-decoration:none; color:#fff; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.company{ height: 2.13rem;    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#009eff), to(#47cfc0));  }
.company h2{ display:block; width:92%; height:.18rem;font-size:.13rem; line-height:.18rem; margin:0 auto; padding-top:.1rem;}
.company h3{ display: block; width:58%; margin:0 auto; margin-top:.18rem; text-align:center; font-size: .13rem; position:relative;}
.company h3 i,.company h3 span{ display:block; width:23%; height:.01rem; border-top:1px solid #e7e7e7; }
.company h3 i{ position:absolute; left:0; top:.08rem;}
.company h3 span{ position:absolute; right:0; top:.08rem;}
.company h4{text-align:center; font-size:.18rem; font-weight:bold; margin: .1rem 0;}
.company h4 strong{ font-size: .3rem; font-weight:bold;}

.interest_rate{ width:80%; margin:0 auto; text-align:center; font-size:.13rem;}
.interest_rate i{ margin-left: .21rem;}

.dollar{ display: block; width:100%; height:.38rem; color:#999; text-indent:.1rem; margin:.1rem 0 0 0; line-height:.38rem;border:1px solid #e7e7e7; position:relative; }
.dollar i,.project_list i{ width:.13rem; height:.22rem; background:url(../../images/yeepay/Group632547.png) no-repeat center; background-size:100% 100%; position:absolute; right: .12rem; top:.08rem;}

.progress_bar{ width:92%; height:.2rem; margin:0 auto; margin-top:.19rem; font-size:.13rem;}
.progress_bar span{ width:100%; height:.10rem; border-radius:.03rem; background:#FFFF99; float:left; margin-bottom: .08rem;}
.progress_bar em{ display:block; width:30%; height:.10rem; border-radius:.03rem; background:#FF6600; float:left;}
.progress_bar h5:nth-child(2){ float:left;}
.progress_bar h5:nth-child(3){ float:right;}

.invest_box{ width:100%; background:#fff; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7;}
.chk_1 { display: none;}
.chk_1 + label { width:.2rem; height:.2rem; box-sizing:border-box; -webkit-box-sizing:border-box; background-color: #f5f5f5;border: 1px solid #cacaca;border-radius: .025rem; display: inline-block; position: relative; margin-bottom:-.05rem; margin-right:.08rem;}
.chk_1:checked + label { width:.2rem; height:.2rem; background:url(../../images/yeepay/common/checked.png) no-repeat center #FF9906; border:none; border-radius: .025rem; background-size:76% auto; }
/* 购买 */
.purchase_wrap { background:#f5f5f5; }

.item_tip { width:100%; height:.6rem; position:relative; border-bottom:1px solid #f5f5f5; background:#fff; }
.item_tip.end { border-bottom:none; }
.item_tip strong { line-height:.6rem; font-size:.15rem; color:#9EA0A5; text-indent:.15rem; display:block; }
.item_tip p { position:absolute; right:.15rem; top:0; line-height:.6rem; color:#5B6067; font-size:.14rem; }
.item_tip p span { color:#FF9906; font-family:'DIN-Bold'; }

.purchase_wrap .item_tip strong { font-size:.17rem; color:#3B424C; }
.purchase_wrap .item_tip p { font-size:.17rem; color:#9EA0A5; }
.purchase_wrap .item_tip p i { width:.16rem; height:.16rem; background:url(../images/more.png) no-repeat center center; background-size:auto 100%; display:inline-block; margin-left:.06rem; position:relative; top:.02rem; }
.purchase_input { padding:.15rem; background:#fff; position:relative; }
.purchase_input .input_con { position:relative }
.input_con input { width:100%; padding:.13rem 0; border:1px solid #F0F4F7; text-indent:.12rem; font-size:.17rem; color:#9EA0A5; box-sizing:border-box; }
.input_con i { font-size:.17rem; color:#5B6067; padding:.13rem 0; position:absolute; right:.12rem; top:0; }
.input_con p { padding-top:.15rem; color:#3B424C; font-size:.15rem; }
.input_con p span { color:#FF9906; font-family:'DIN-Bold'; font-size:.2rem; }
.input_con .error { color: #c63c2a; font-size:.13rem; }

.item_tip.expect { border-bottom:none; }
.item_tip.expect p { color:#9EA0A5; }

.purchase_btn { padding:.2rem .15rem 0; }
.purchase_btn .btn { width:100%; height:.44rem; line-height:.44rem; font-size:.17rem; color:#fff; text-align:center; margin-top:0; }
.purchase_btn p { font-size:.12rem; color:#a19e9b; padding-top:.11rem; }
.purchase_btn a { color:#FF9906; }

.item_tip .mark { width:.15rem; height:.15rem; background:url(../images/user/mark.png) no-repeat; background-size:100% 100%; display:inline-block; vertical-align:middle; margin-left:.08rem; position:relative; top:-.02rem; }

.purchase_tip { padding:.1rem .2rem; background:#f5f5f5; }
.purchase_tip p { line-height:.18rem; font-size:.12rem; color:#9EA0A5; }

/* 稳盈金购买 */
.con .input_con input { font-size:.15rem; }
.con .input_con i { font-size:.17rem; color:#FF9906; padding:.1rem 0; }
.con .input_con b { height:.22rem; border-right:1px solid #E2DED9; position:absolute; right:.96rem; top:.11rem; }
.con .input_con p { background:#F5F5F5; padding:.1rem 0; text-indent:.12rem; font-size:.17rem; color:#4C6072; width:100%; overflow:hidden; white-space:nowrap; }
.con .input_con p em { color:#FF9906; font-size:.2rem; }
.purchase_con .tab_btn {}
.purchase_con .tab_btn li { text-align:center; padding:.15rem; background:#fff; font-size:.17rem; color:#3B424C; position:relative; }
.purchase_con .tab_btn li.on { color:#FF9906; }
.purchase_con .tab_btn li i { width:0; height:.18rem; border-right:1px solid #EFEFEF; position:absolute; right:0; top:.18rem; }
.con .purchase_input { padding-top:0; }

.naot_txtop{line-height: 0.42rem;background: #FFF4E5;color: #967341;font-size: 0.14rem;}
.naot_txtop img{display: inline-block;vertical-align: middle;width: 0.25rem;margin-left: 0.12rem;margin-right: 0.05rem;}
/* 确认订单 */
.count_time { width:100%;text-align: center;margin-bottom: 0.7rem;}
.count_time i { width:0.16rem; height:.16rem; display:inline-block; background:url(../images/detail_novice/count_down.png) no-repeat; background-size: 100% 100%;vertical-align: middle;}
.count_time p { padding-left:.05rem; display:inline-block; font-size:0.14rem; color: #9A9793;}
.count_time span {color: #FF9906;}

.confirm_btn { width:100%; height:.6rem; background:#fff; position:fixed; left:0; bottom:0; }
.confirm_btn p { line-height:.6rem; font-size:.16rem; color:#3B424C; text-indent:.15rem; }
.confirm_btn span { color:#FF9906; padding-left:.02rem; font-family:'DIN-Bold'; }
.confirm_btn a { width:1.53rem; height:.6rem; line-height:.6rem; text-align:center; background:#FF9906; position:absolute; top:0; right:0; color:#fff; font-size:.2rem; }

/* 确认支付 */
.choice { padding:.06rem 0; font-size:.15rem; color:#9EA0A5; padding-left:.075rem; position:relative; }
.bank_list { width:100%; min-height:.7rem; background:#fff; position:relative; margin-bottom:.1rem; }
.bank_list .bank_list_con { width:100%; }
.bank_list .bank_img { width:.32rem; height:.32rem; float:left; padding-top:.19rem; padding-left:.17rem; }
.bank_list .bank_img img { width:.32rem; }
.bank_list .bank_text { padding-left:.145rem;}
.bank_list .bank_text strong { padding-top:.08rem; display:block; font-size:.17rem; color:#3B424C; }
.bank_list.balance .bank_text strong { padding-top:0; line-height:.7rem; }
.bank_list.balance.disabled img { opacity:.5; }
.bank_list.balance.disabled .bank_text strong { color:#9EA0A5; }
.bank_list.balance.disabled .check_off, .bank_list.balance.disabled .check_on { opacity:.5; }
.bank_list .mask { display:block; }
.bank_list .bank_text p { font-size:.12rem; color:#9EA0A5; width:2.3rem;margin-top: 0.1rem;padding-bottom: 0.1rem;}
.bank_list.disabled .mask { width:100%; height:.7rem; position:absolute; left:0; top:0; }
.bank_list .radio_mask { width:.64rem; height:.7rem; position:absolute; right:0; top:0;}

/* 弹窗 */
.pop { width:92%; background:#fff; border-radius:.03rem; position:fixed; left:50%; margin-left:-46%; top:20%; z-index:101;  }
.pop h4 { width:100%; padding:.15rem 0; border-bottom:1px solid #F5F5F5; text-align:center; font-size:.17rem; color:#3B424C; font-weight:normal; }
.pop .close { width:.16rem; height:.16rem; background:url(../images/close_btn2.png) no-repeat; background-size: 100% 100%; position:absolute; top:.18rem; right:.18rem; }
.pop.in_process { padding-bottom:.81rem; }
.pop.in_process .ico { width:.44rem; height:.44rem; background:url(../images/detail_novice/in_process.png) no-repeat; background-size: 100% 100%; display:block; margin:.34rem auto .16rem; }
.pop.in_process strong { display:block; width:100%; text-align:center; color:#3B424C; font-size:.2rem; }
.pop.in_process p { font-size:.15rem; color:#9EA0A5; text-align:center; padding-top:.02rem; }
.pop.in_process p span { color:#FF9906; padding-left:.04rem; }
.pop.in_process .btn_box { width:100%; height:.52rem; position:absolute; left:0; bottom:0; display:-webkit-flew; display:flex; }
.pop.in_process .btn_box a { width:50%; font-size:.17rem; color:#3B424C;; -webkit-flew:1; flex:1; height:.52rem; line-height:.52rem; box-sizing:border-box; text-align:center; }
.pop.in_process .btn_box .btn1 { border-top:1px solid #EBECED;}
.pop.in_process .btn_box .btn2 { background:#FF9906; color:#fff; }
.pop.in_process .btn_box .btn3 { width:100%; background:#FF9906; color:#fff; border-radius:0 0 .03rem .03rem; }
.pop.fail .ico { background-image:url(../images/detail_novice/failure.png); }

.form_check_pop h4 { text-indent:0; }

/* 表单 */
.input_wrap{width: 100%;position: relative;margin: 0 auto;margin-top: 0.075rem;height: 0.68rem;}
.input_wrap input{text-indent: 0.17rem; position: absolute;left: 0;top:0rem;width: 100%;height: 0.51rem; font-size: 0.15rem; overflow: hidden;background: #fff; color:#754b10; border:1px solid #E5E6E6; border-radius:.03rem; }
.input_wrap input.inerror { border-color:#c63c2a; }
.input_wrap .input_box.focusin{ border:1px solid #ff9e12; box-shadow:0px 0px 3px 1px #ffe2b7; }
.licon{display: block;width: 0.23rem;height:.53rem;position: relative;left: 0.03rem;}
.input_wrap p{position: absolute;bottom: -.01rem;width: 100%;font-size: 0.11rem;color: #c7321e;z-index: 99;text-align: left; padding-top:.01rem; }
.input_wrap p a { color: #c7321e; padding-left:.08rem; }
.code_img { position:absolute; right:.2rem; top:.17rem; width:.65rem; height:.2rem; }
.input_wrap.first { margin-top:0; }
.input_wrap .code{width: 64%;}
.phonecode{position:absolute; right:0; top:0rem; width:36%; height:0.52rem; background:#FF9906;; line-height:0.52rem; text-align: center; border-radius:0 .03rem .03rem 0; font-size:0.14rem; color:#fff; }
.phonecode.noObtain { background: #CBCBCC; }

.input_wrap .tip { font-size:.15rem; color:#FF9906; padding-top:.18rem; position:absolute; top:0; right:.17rem; }

.prompt_box .btn_box { width:3.38rem; height:.44rem; margin:.2rem auto; padding-bottom:.2rem; }
.prompt_box .btn_box a { width:1.64rem; height:.44rem; line-height:.44rem; text-align:center; display:block; font-size:.17rem; border-radius:.03rem; }
.prompt_box .btn_box .btn1 { float:left; background:#fff; color:#3B424C;  }
.prompt_box .btn_box .btn2 { float:right; color:#fff; }
.prompt_box .btn_box .btn3 { background:#fff; width:100%; color:#3B424C; }

.success_tip { padding:.12rem 0 .15rem; background:#fff; text-align:center; border-bottom:1px solid #F1F4F7; }
.success_tip { padding:.12rem 0 .15rem; background:#fff; text-align:center; border-bottom:1px solid #F1F4F7; position:relative; }
.success_tip p {line-height:.5rem; font-size:.2rem; font-weight:bold; color:#3b424c; }
.success_tip i { width:.5rem; height:.5rem; /*background:url(../images/detail_novice/success.png) no-repeat; background-size: 100% 100%;*/ display:inline-block; vertical-align:middle; margin-right:.15rem; }
.success_tip .tip_text { font-size:.13rem; color:#9EA0A5; }
.success_tip .package { width:.49rem; height:.65rem; position:absolute; right:.24rem; top:50%; margin-top:-.325rem; }
.success_tip .package img { width:.49rem; }
.success_tip .line_ico { width:.33rem; height:.04rem; border-top:1px solid #E5E5E6; border-bottom:1px solid #E5E5E6; display:block; margin:0 auto; }

.pop.tip_pop { width:80%; height:auto; padding-bottom:.28rem; border-radius:.03rem; background:#fff; margin:0 auto; position:fixed; left:50%; margin-left:-40%; top:20%; z-index:101; }
.pop.tip_pop h4 { padding:.17rem 0; text-indent:.3rem; border-bottom:1px solid #eaeaea; font-size:.15rem; color:#3B424C; font-weight:bold; text-align:left; }
.pop.tip_pop .text_con { width:80%; margin:0 auto; padding-top:.2rem; }
.pop.tip_pop .text_con p { font-size:.14rem; color:#5B6067; text-align:justify; text-justify:inter-ideograph; line-height:.24rem; }
.pop.tip_pop .text_con h5 { font-size:.14rem; color:#FF9906; padding:.14rem 0 .07rem; }

.check_box { width:92%; margin:.23rem auto 0; padding-bottom:.305rem; }
.check_box .link_btn { width:100%; height:.52rem; line-height:.52rem; text-align:center; background:#FF9906; color:#fff; position:absolute; left:0; bottom:0; border-radius:0 0 .03rem .03rem; }

.success_con { padding-bottom:.5rem; }

.price_header a {width:100%; height: 100%;position: absolute;left: 0;top: 0;}
/* 查看更多 */
.check_more { width:95%; height:.4rem; line-height:.4rem; text-align:center; border:1px solid #F5F5F5; border-radius:.03rem; margin:.05rem auto 0; }
.check_more p { width:.74rem; padding-right:.05rem; font-size:.15rem; color:#9EA0A5; margin:0 auto; }

::-webkit-input-placeholder { /* WebKit browsers */ color:#CBCBCC; }

#bodymovin{
	background-color:#fff;
	width:.5rem;
	height:.5rem;
	display:inline-block;
	overflow: hidden;
	transform: translate3d(0,0,0);
	text-align: center;
	opacity: 1;
}

.add_hbdiv{line-height: 0.4rem;}
.add_hbdiv .hb_ion{display: inline-block;vertical-align: middle;width: 0.15rem;height: 0.2rem;margin-right: 0.12rem;margin-left: 0.18rem;}
.add_hbdiv p{font-size: 0.15rem;color: #3B424C;}
.add_hbdiv .goimg{vertical-align: middle;display: block;margin-right: 0.12rem;width: 0.2rem;height: 0.2rem;margin-top: 0.1rem;}

.pop.usehb_div{background: #F5F5F5;width: 100%;position: fixed;bottom: 0;margin-left: 0;left: 0;border-radius: 0;padding-bottom: 0;z-index: 101; top:auto; }
.usehb_div .title{text-align: center;color: #3B424C;font-size: 0.15rem;}
.usehb_div .package_con { height:2.4rem; overflow:hidden; }
.usehb_div .package_list_con { height:2.4rem; overflow:hidden; }
.gold_listul{padding-bottom: 0.11rem;}
.gold_listul li{width:83.5%;margin: 0 auto;height: 1.09rem;margin-bottom: 0.05rem;position: relative;}
.gold_listul .right_div{width: 0.59rem;}
.gold_listul .right_div p{padding-left: 0.16rem;font-size: 0.17rem;color: #fff;font-weight: bold;margin-top: 0.1rem;}
.gold_listul .cash_list .right_div{background: url(../images/user/goldbg01.png);background-size: 100% 100%;}
.gold_listul .red_list .right_div{background: url(../images/user/goldbg02.png);background-size: 100% 100%;}
.gold_listul .gold_list .right_div{background: url(../images/user/goldbg03.png);background-size: 100% 100%;}
.gold_listul .usd_list .right_div{background: url(../images/user/goldbg04.png);background-size: 100% 100%;}
.gold_listul .left_div{padding-top: 0.14rem;padding-left: 0.23rem;background: #fff;position: relative;overflow: hidden;}
.gold_listul .left_div .p01{font-size: 0.2rem;line-height: 0.4rem;margin-bottom: 0.03rem;color: #9EA0A5;}
.gold_listul .left_div .p01 span{font-size: 0.36rem;}
.gold_listul .left_div .p02,.gold_listul .left_div .p03{color: #9EA0A5;font-size: 0.13rem;line-height: 0.18rem;}
.gold_listul .cash_list .p01{color: #F93737;}
.gold_listul .red_list .p01{color: #FF9906;}
.gold_listul .gold_list .p01{color: #EEA81C;}
.pop.usehb_div .close{height: 0.5rem;width: 100%;display: block;line-height: 0.5rem;background: linear-gradient(-269deg, #FF9906 0%, #FFC506 94%);font-size: 0.18rem;color: #fff;text-align: center; position:relative; left:0; top:0; }
.wanion{width: 0.2rem;height: 0.2rem;background: #F5F5F5;border-radius: 50%;position: absolute;left: -0.1rem;top: 50%;margin-top: -0.1rem;display: block;z-index: 2;}

.xzdiv{width: 0.24rem;height: 0.24rem;border-radius: 50%;position: absolute;right: 0.2rem;top: 0.43rem; background: url(../images/payment/xzion03.png);background-size: 100% 100%;}
.active .xzdiv{background: url(../images/payment/xzion.png);background-size: 100% 100%;}
.usd_list .xzdiv,.usd_list.active .xzdiv{background: url(../images/payment/xzion02.png);background-size: 100% 100%;}

.no_chose{height: 0.44rem;background: #fff;width:83.5%;margin: 0 auto;position: relative;margin-bottom: 0.2rem;}
.no_chose p{line-height: 0.44rem;font-size: 0.15rem;margin-left: 0.14rem;}

.no_chose .xzdiv{background: url(../images/payment/xzion03.png);background-size: 100% 100%;right: 0.14rem;top: 0.1rem;}
.no_chose.active .xzdiv{background: url(../images/payment/xzion.png);background-size: 100% 100%;}

/*==========  Non-Mobile First Method  ==========*/
@media (min-device-width : 320px) and (max-device-width : 356px){
    html{font-size:560%;}
}
/*安卓1080*1920的手机 继承以上所有样式,同时也继承iPhone6的*/
@media (min-width: 360px){
    html{font-size:611.3%;}  /* 1080*1920 比例*/
}

/*===== iPhone6 为标准，做好页面后再加到iPhone4&5上,继承以上所有样式=====*/
@media (min-width: 375px){
    html{font-size:625%; /*iPhone6 比例*/}
}

/*iPhone6P 继承以上所有样式*/
@media (min-width: 414px) {
    html { font-size: 694.6%; /*iPhone6P 比例*/ }
}
/*nexus 6p 继承以上所有样式*/
@media (min-width: 435px){
	
}

/*480 继承以上所有样式*/
@media (min-width: 480px){
	
}

@media (min-width: 510px){
	
}
/*560 继承以上所有样式*/
@media (min-width: 536px){
	
}

/*560 继承以上所有样式*/
@media (min-width: 560px){
	
}
/*2K以上大屏，样式将继承以上所有样式*/
@media (min-width: 768px){
    html{font-size:1000%;}
}